@charset "ISO-8859-1";

.bg-header {
	background: #0688f7;
}

#add-panel {
    padding: 1.6rem;
	margin: 5vw auto;
    width: fit-content;
}

.header-add-panel {
	text-align: center;
	margin-bottom: 2rem;
}

.body-add-panel input {
	margin-bottom: 1rem;
}