@charset "ISO-8859-1";

.bg-header {
	background: #0688f7;
}

#edit-panel-patr {
	padding: 1.6rem;
	margin: 5vw auto;
	width: fit-content;
}

.header-edit-panel {
	text-align: center;
	margin-bottom: 2rem;
}

.body-edit-panel input {
	margin-bottom: 2rem;
	
}
